{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    <strong>Olá, {{user.name}}</strong>
    <p>Esses são os seus clientes:</p>

    <ul class="providers">
      {% for appointment in appointments %}

        <li class="provider">
          <div>
            <img src="/files/{{appointment.UserId.avatar}}" alt="">
            <strong>{{appointment.UserId.name}}</strong>
            <strong class='client' >{{appointment.date}}</strong>
          </div>
        </li>
      {% endfor %}
    </ul>
    <a href="/app/dashboard" class="logout" >Voltar</a>
  </div>

   <script type="text/javascript">

    function converteToDay(day) {
      switch (day) {
        case 0:
          return 'Domingo'
          break;
        case 1:
          return 'Segunda-Feira'
          break;
        case 2:
          return 'Terça-Feira'
          break;
        case 3:
          return 'Quarta-Feira'
          break;
        case 4:
          return 'Quinta-Feira'
          break;
        case 5:
          return 'Sexta-Feira'
          break;
        case 6:
          return 'Sábado'
          break;
        default:
          console.log('Sorry, we are out of ' + day + '.');
      }
    }

    let x = document.getElementsByClassName("client")
    Array.prototype.forEach.call(x, function(y) {

      tDate = Date.parse(y.innerHTML)
      dateString = new Date(tDate)
      dateConverte = converteToDay(dateString.getDay()) + ', ' +
                   dateString.getDate() + '/' + (dateString.getMonth() + 1) +
                   '/' + dateString.getFullYear() + ' às ' +
                   dateString.getHours() + 'h'
      console.log(dateConverte)

      y.innerHTML = dateConverte
    });
  </script>

{% endblock %}
