<strong>Olá. {{ provider }}</strong>
<p>Houve um cancelamento de horário, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: {{ user }}</strong> </br />
  <strong>Data/Hora: {{ date }}</strong> </br />
  <small>Data/Hora: O horário está novamente disponível para novos agendamentos.</small> </br />
</p>
